/* generle rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #F6F6F6;
}

header{
    height: 80px;
}


.container{
    width: 90%;
    max-width: 1180px; 
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    background-color: white;
    text-decoration: none;
    border-radius: 40px;
}

.btn.big{
    font-size: 18px;
    padding: 15px 20px;
}

.btn.black{
    background-color: black;
    color: white;
}

.btn:hover{
    color:cornflowerblue;
}



/* HEADER */
header{
    height: 80px;
    background-color: #3161E0;
    line-height: 80px;
}

/* logo */
.logo, .main-nav{
    float: left;
}

.logo img{
    vertical-align: middle;
}

.main-nav{
    width: calc(100% - 202px);
    text-align: center;
}


/* menu */
.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    padding: 0 15px;
    display: inline-block;
}

.main-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.main-nav ul li a:hover{
    text-decoration: underline;
}

#accedi{
    float: right;
}

/* jumbo */

.jumbotron{
    height: 547px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron .container{
    max-width: 800px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.jumbotron h1{
    font-size: 53px;
    margin-bottom: 40px;
}

.jumbotron p{
    margin-bottom: 30px;
    line-height: 35px;
}

.jumbotron .btn:first-of-type{
    margin-right: 20px;
}

/* inizio */
.container-2{
    width: 90%;
    max-width: 1180px;
    height: 500px;
    margin: 30px auto;
}
.numero2{
    background-color: white;
}
.image{
    width: 50%;
}
.study-group, .Voice-connected, .Coach{
    width: 100%;
    
}
.image, .text{
    display: inline-block;
    vertical-align: top;
}
.text{
    width: 30%;
    margin-left: 100px;
}
.secondo-h1{
    font-size: 45px;
    padding-bottom: 40px;
}
.secondo-h1, .secondo-p{
    color: black;
}
.numeo3{
    background-color: #F6F6F6;
    padding-right: 20px;
    padding-bottom: 50px;
}
.text2{
    display: inline-block;
    margin-right: 80px;
}
.sezione4{
    width: 70%;
    color: black;
    padding-bottom: 30px;
}
.quarto-h1{
    padding-bottom: 10px;
}
.quarto-p{
    font-size: 15px;
}

.background-h2, .sezione4{
    margin: auto;
}

main{
    color: black;
}
.background-h2{
    width: 550px;
    background-image: url('../img/stars.svg');
    background-position: top;
    padding-top: 30px;
    margin-bottom: 50px;
}
.bottone, .background-h2, .quarta-image, .sezione4{
    text-align: center;
}
.nuovo{
    background-color: #8EA1E2;
    color: white;
}
footer{
    height: 440px;
    margin-top: 30px;
    padding-top: 50px;
}
footer, .ultimi-bottoni{
    background-color: black;
}
.contenitore-generico{
    width: 90%;
    height: 350px;
    border-bottom: 1px solid #7289DA;
    margin: auto;
}

.titolo-blu, .blu{
    color: #7289DA;
}
.nazionalità{
    margin: 20px 0;
}
.italia{
    width: 30px;
}

.float, .lista{
     float:left;
}
.lista{
    width: 200px;
    margin-left: 20px;
}
.float{
    width: 300px;
}
li{
    font-size: 18px;
    list-style: none;
    padding-top: 10px;
}

.ultimi-bottoni{
    height: 60px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.centratura{
    width: 90%;
    margin: auto;
}

.registrazione{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #7289DA;
    border-radius: 20px;
}
.bottone-footer{
    float: right;
}
.symbol-v{
    font-size: 10px;
}
.social div{
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
}